article{
  width:500px;
  height:400px;
  background-color: Salmon;
  margin-top: 10%;
  margin-left: 40%;
  margin-bottom: 10%;
  margin-right: 40%;
}
article p{
  padding-top: 5px;
  text-align: center;
  font-size: 25px;
  font-family: arial;
  margin: 0;
}
#user_email,#user_name,#user_password{
  width:300px;
  height:30px
}
#user_email{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}
#ue,#un,#up{
  font-size: 25px;
  font-family: arial;
  margin-left: 160px;
  margin-right: 100px;

}
#user_name{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}
#user_password{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}
#button{
  width: 250px;
  height: 35px;
  margin-left: 130px;
  margin-right: 100px;
  margin-top: 20px;
}
